body{
    background: #f8f9fa;
    background-repeat: repeat-x;
    background-image: url(//my.uopeople.edu/pluginfile.php/1/theme_boost/loginbackgroundimage/1694571469/20230702loginimage.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

#page-login-index{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --blue: #0f6cbf;
    --indigo: #6610f2;
    --purple: #613d7c;
    --pink: #e83e8c;
    --red: #ca3120;
    --orange: #f0ad4e;
    --yellow: #ff7518;
    --green: #357a32;
    --teal: #20c997;
    --cyan: #008196;
    --white: #ffffff;
    --gray: #6a737b;
    --gray-dark: #343a40;
    --primary: #4B345D;
    --secondary: #ced4da;
    --success: #357a32;
    --info: #008196;
    --warning: #f0ad4e;
    --danger: #ca3120;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --activityadministration: #5d63f6;
    --activityassessment: #eb66a2;
    --activitycollaboration: #f7634d;
    --activitycommunication: #11a676;
    --activitycontent: #399be2;
    --activityinterface: #a378ff;
    box-sizing: border-box;
    margin: 0;
    font-weight: 400;
    line-height: 1.5;
    color: #1d2125;
    text-align: left;
    background-color: #fff;
    font-size: calc(0.90375rem + 0.045vw);
    height: 100%;
    -webkit-font-smoothing: antialiased;
    font-family: "Open Sans",sans-serif;
    transition: padding-left 100ms;
}
#overlay{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --blue: #0f6cbf;
    --indigo: #6610f2;
    --purple: #613d7c;
    --pink: #e83e8c;
    --red: #ca3120;
    --orange: #f0ad4e;
    --yellow: #ff7518;
    --green: #357a32;
    --teal: #20c997;
    --cyan: #008196;
    --white: #ffffff;
    --gray: #6a737b;
    --gray-dark: #343a40;
    --primary: #4B345D;
    --secondary: #ced4da;
    --success: #357a32;
    --info: #008196;
    --warning: #f0ad4e;
    --danger: #ca3120;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --activityadministration: #5d63f6;
    --activityassessment: #eb66a2;
    --activitycollaboration: #f7634d;
    --activitycommunication: #11a676;
    --activitycontent: #399be2;
    --activityinterface: #a378ff;
    font-weight: 400;
    line-height: 1.5;
    color: #1d2125;
    text-align: left;
    font-size: calc(0.90375rem + 0.045vw);
    -webkit-font-smoothing: antialiased;
    font-family: "Open Sans",sans-serif;
    box-sizing: border-box;
    display: none;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000000;
    pointer-events: none;
}


.pagewrapper{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --blue: #0f6cbf;
    --indigo: #6610f2;
    --purple: #613d7c;
    --pink: #e83e8c;
    --red: #ca3120;
    --orange: #f0ad4e;
    --yellow: #ff7518;
    --green: #357a32;
    --teal: #20c997;
    --cyan: #008196;
    --white: #ffffff;
    --gray: #6a737b;
    --gray-dark: #343a40;
    --primary: #4B345D;
    --secondary: #ced4da;
    --success: #357a32;
    --info: #008196;
    --warning: #f0ad4e;
    --danger: #ca3120;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --activityadministration: #5d63f6;
    --activityassessment: #eb66a2;
    --activitycollaboration: #f7634d;
    --activitycommunication: #11a676;
    --activitycontent: #399be2;
    --activityinterface: #a378ff;
    font-weight: 400;
    line-height: 1.5;
    color: #1d2125;
    text-align: left;
    font-size: calc(0.90375rem + 0.045vw);
    -webkit-font-smoothing: antialiased;
    font-family: "Open Sans",sans-serif;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
}


#page{    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --blue: #0f6cbf;
    --indigo: #6610f2;
    --purple: #613d7c;
    --pink: #e83e8c;
    --red: #ca3120;
    --orange: #f0ad4e;
    --yellow: #ff7518;
    --green: #357a32;
    --teal: #20c997;
    --cyan: #008196;
    --white: #ffffff;
    --gray: #6a737b;
    --gray-dark: #343a40;
    --primary: #4B345D;
    --secondary: #ced4da;
    --success: #357a32;
    --info: #008196;
    --warning: #f0ad4e;
    --danger: #ca3120;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --activityadministration: #5d63f6;
    --activityassessment: #eb66a2;
    --activitycollaboration: #f7634d;
    --activitycommunication: #11a676;
    --activitycontent: #399be2;
    --activityinterface: #a378ff;
    font-weight: 400;
    line-height: 1.5;
    color: #1d2125;
    text-align: left;
    font-size: calc(0.90375rem + 0.045vw);
    -webkit-font-smoothing: antialiased;
    font-family: "Open Sans",sans-serif;
    box-sizing: border-box;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0!important;
    padding-top: 2rem!important;
    background: #f8f9fa;
    background-repeat: repeat-x;
    background-image: url(//my.uopeople.edu/pluginfile.php/1/theme_boost/loginbackgroundimage/1694571469/20230702loginimage.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;}

#page-content{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --blue: #0f6cbf;
    --indigo: #6610f2;
    --purple: #613d7c;
    --pink: #e83e8c;
    --red: #ca3120;
    --orange: #f0ad4e;
    --yellow: #ff7518;
    --green: #357a32;
    --teal: #20c997;
    --cyan: #008196;
    --white: #ffffff;
    --gray: #6a737b;
    --gray-dark: #343a40;
    --primary: #4B345D;
    --secondary: #ced4da;
    --success: #357a32;
    --info: #008196;
    --warning: #f0ad4e;
    --danger: #ca3120;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --activityadministration: #5d63f6;
    --activityassessment: #eb66a2;
    --activitycollaboration: #f7634d;
    --activitycommunication: #11a676;
    --activitycontent: #399be2;
    --activityinterface: #a378ff;
    font-weight: 400;
    line-height: 1.5;
    color: #1d2125;
    text-align: left;
    font-size: calc(0.90375rem + 0.045vw);
    -webkit-font-smoothing: antialiased;
    font-family: "Open Sans",sans-serif;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    flex: 1 0 auto;
}

#region-main-box{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --blue: #0f6cbf;
    --indigo: #6610f2;
    --purple: #613d7c;
    --pink: #e83e8c;
    --red: #ca3120;
    --orange: #f0ad4e;
    --yellow: #ff7518;
    --green: #357a32;
    --teal: #20c997;
    --cyan: #008196;
    --white: #ffffff;
    --gray: #6a737b;
    --gray-dark: #343a40;
    --primary: #4B345D;
    --secondary: #ced4da;
    --success: #357a32;
    --info: #008196;
    --warning: #f0ad4e;
    --danger: #ca3120;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --activityadministration: #5d63f6;
    --activityassessment: #eb66a2;
    --activitycollaboration: #f7634d;
    --activitycommunication: #11a676;
    --activitycontent: #399be2;
    --activityinterface: #a378ff;
    font-weight: 400;
    line-height: 1.5;
    color: #1d2125;
    text-align: left;
    font-size: calc(0.90375rem + 0.045vw);
    -webkit-font-smoothing: antialiased;
    font-family: "Open Sans",sans-serif;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
}

#region-main{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --blue: #0f6cbf;
    --indigo: #6610f2;
    --purple: #613d7c;
    --pink: #e83e8c;
    --red: #ca3120;
    --orange: #f0ad4e;
    --yellow: #ff7518;
    --green: #357a32;
    --teal: #20c997;
    --cyan: #008196;
    --white: #ffffff;
    --gray: #6a737b;
    --gray-dark: #343a40;
    --primary: #4B345D;
    --secondary: #ced4da;
    --success: #357a32;
    --info: #008196;
    --warning: #f0ad4e;
    --danger: #ca3120;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --activityadministration: #5d63f6;
    --activityassessment: #eb66a2;
    --activitycollaboration: #f7634d;
    --activitycommunication: #11a676;
    --activitycontent: #399be2;
    --activityinterface: #a378ff;
    font-weight: 400;
    line-height: 3;
    color: #1d2125;
    text-align: left;
    font-size: calc(0.90375rem + 0.045vw);
    -webkit-font-smoothing: antialiased;
    font-family: "Open Sans",sans-serif;
    box-sizing: border-box;
    display: block;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 100%;
    max-width: 100%;
    height: 100%!important;
    overflow-y: visible;
    border: 0;
    background-color: inherit;
    margin-top: 65px; 
}
.login-wrapper {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --blue: #0f6cbf;
    --indigo: #6610f2;
    --purple: #613d7c;
    --pink: #e83e8c;
    --red: #ca3120;
    --orange: #f0ad4e;
    --yellow: #ff7518;
    --green: #357a32;
    --teal: #20c997;
    --cyan: #008196;
    --white: #ffffff;
    --gray: #6a737b;
    --gray-dark: #343a40;
    --primary: #4B345D;
    --secondary: #ced4da;
    --success: #357a32;
    --info: #008196;
    --warning: #f0ad4e;
    --danger: #ca3120;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --activityadministration: #5d63f6;
    --activityassessment: #eb66a2;
    --activitycollaboration: #f7634d;
    --activitycommunication: #11a676;
    --activitycontent: #399be2;
    --activityinterface: #a378ff;
    font-size: .9375rem;
    font-weight: 400;
    line-height: 1.5;
    color: #1d2125;
    text-align: left;
    -webkit-font-smoothing: antialiased;
    font-family: "Open Sans",sans-serif;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}


.login-container{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --blue: #0f6cbf;
    --indigo: #6610f2;
    --purple: #613d7c;
    --pink: #e83e8c;
    --red: #ca3120;
    --orange: #f0ad4e;
    --yellow: #ff7518;
    --green: #357a32;
    --teal: #20c997;
    --cyan: #008196;
    --white: #ffffff;
    --gray: #6a737b;
    --gray-dark: #343a40;
    --primary: #4B345D;
    --secondary: #ced4da;
    --success: #357a32;
    --info: #008196;
    --warning: #f0ad4e;
    --danger: #ca3120;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --activityadministration: #5d63f6;
    --activityassessment: #eb66a2;
    --activitycollaboration: #f7634d;
    --activitycommunication: #11a676;
    --activitycontent: #399be2;
    --activityinterface: #a378ff;
    font-size: .9375rem;
    font-weight: 400;
    line-height: 1.5;
    color: #1d2125;
    text-align: left;
    -webkit-font-smoothing: antialiased;
    font-family: "Open Sans",sans-serif;
    box-sizing: border-box;
    background-color: #fff;
    padding: 3rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    margin-bottom: 2rem;
    max-width: 600px;
    border-radius: .5rem;
}


.loginform {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --blue: #0f6cbf;
    --indigo: #6610f2;
    --purple: #613d7c;
    --pink: #e83e8c;
    --red: #ca3120;
    --orange: #f0ad4e;
    --yellow: #ff7518;
    --green: #357a32;
    --teal: #20c997;
    --cyan: #008196;
    --white: #ffffff;
    --gray: #6a737b;
    --gray-dark: #343a40;
    --primary: #4B345D;
    --secondary: #ced4da;
    --success: #357a32;
    --info: #008196;
    --warning: #f0ad4e;
    --danger: #ca3120;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --activityadministration: #5d63f6;
    --activityassessment: #eb66a2;
    --activitycollaboration: #f7634d;
    --activitycommunication: #11a676;
    --activitycontent: #399be2;
    --activityinterface: #a378ff;
    font-size: .9375rem;
    font-weight: 400;
    line-height: 1.5;
    color: #1d2125;
    text-align: left;
    -webkit-font-smoothing: antialiased;
    font-family: "Open Sans",sans-serif;
    box-sizing: border-box;
    height: 100%;
}

#loginlogo{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --blue: #0f6cbf;
    --indigo: #6610f2;
    --purple: #613d7c;
    --pink: #e83e8c;
    --red: #ca3120;
    --orange: #f0ad4e;
    --yellow: #ff7518;
    --green: #357a32;
    --teal: #20c997;
    --cyan: #008196;
    --white: #ffffff;
    --gray: #6a737b;
    --gray-dark: #343a40;
    --primary: #4B345D;
    --secondary: #ced4da;
    --success: #357a32;
    --info: #008196;
    --warning: #f0ad4e;
    --danger: #ca3120;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --activityadministration: #5d63f6;
    --activityassessment: #eb66a2;
    --activitycollaboration: #f7634d;
    --activitycommunication: #11a676;
    --activitycontent: #399be2;
    --activityinterface: #a378ff;
    font-weight: 400;
    line-height: 1.5;
    color: #1d2125;
    text-align: left;
    font-size: calc(0.90375rem + 0.045vw);
    -webkit-font-smoothing: antialiased;
    font-family: "Open Sans",sans-serif;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.login-form,#shiftStatusForm{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --blue: #0f6cbf;
    --indigo: #6610f2;
    --purple: #613d7c;
    --pink: #e83e8c;
    --red: #ca3120;
    --orange: #f0ad4e;
    --yellow: #ff7518;
    --green: #357a32;
    --teal: #20c997;
    --cyan: #008196;
    --white: #ffffff;
    --gray: #6a737b;
    --gray-dark: #343a40;
    --primary: #4B345D;
    --secondary: #ced4da;
    --success: #357a32;
    --info: #008196;
    --warning: #f0ad4e;
    --danger: #ca3120;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --activityadministration: #5d63f6;
    --activityassessment: #eb66a2;
    --activitycollaboration: #f7634d;
    --activitycommunication: #11a676;
    --activitycontent: #399be2;
    --activityinterface: #a378ff;
    font-weight: 400;
    line-height: 1.5;
    color: #1d2125;
    text-align: left;
    font-size: calc(0.90375rem + 0.045vw);
    -webkit-font-smoothing: antialiased;
    font-family: "Open Sans",sans-serif;
    box-sizing: border-box;
}
.login-form-username , #advisorRole{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --blue: #0f6cbf;
    --indigo: #6610f2;
    --purple: #613d7c;
    --pink: #e83e8c;
    --red: #ca3120;
    --orange: #f0ad4e;
    --yellow: #ff7518;
    --green: #357a32;
    --teal: #20c997;
    --cyan: #008196;
    --white: #ffffff;
    --gray: #6a737b;
    --gray-dark: #343a40;
    --primary: #4B345D;
    --secondary: #ced4da;
    --success: #357a32;
    --info: #008196;
    --warning: #f0ad4e;
    --danger: #ca3120;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --activityadministration: #5d63f6;
    --activityassessment: #eb66a2;
    --activitycollaboration: #f7634d;
    --activitycommunication: #11a676;
    --activitycontent: #399be2;
    --activityinterface: #a378ff;
    font-weight: 400;
    line-height: 1.5;
    color: #1d2125;
    text-align: left;
    font-size: calc(0.90375rem + 0.045vw);
    -webkit-font-smoothing: antialiased;
    font-family: "Open Sans",sans-serif;
    box-sizing: border-box;
    margin-bottom: 1rem;
}

.login-form-password, #shiftStatus{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --blue: #0f6cbf;
    --indigo: #6610f2;
    --purple: #613d7c;
    --pink: #e83e8c;
    --red: #ca3120;
    --orange: #f0ad4e;
    --yellow: #ff7518;
    --green: #357a32;
    --teal: #20c997;
    --cyan: #008196;
    --white: #ffffff;
    --gray: #6a737b;
    --gray-dark: #343a40;
    --primary: #4B345D;
    --secondary: #ced4da;
    --success: #357a32;
    --info: #008196;
    --warning: #f0ad4e;
    --danger: #ca3120;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --activityadministration: #5d63f6;
    --activityassessment: #eb66a2;
    --activitycollaboration: #f7634d;
    --activitycommunication: #11a676;
    --activitycontent: #399be2;
    --activityinterface: #a378ff;
    font-weight: 400;
    line-height: 1.5;
    color: #1d2125;
    text-align: left;
    font-size: calc(0.90375rem + 0.045vw);
    -webkit-font-smoothing: antialiased;
    font-family: "Open Sans",sans-serif;
    box-sizing: border-box;
    margin-bottom: 1rem;
}

.login-form-submit{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --blue: #0f6cbf;
    --indigo: #6610f2;
    --purple: #613d7c;
    --pink: #e83e8c;
    --red: #ca3120;
    --orange: #f0ad4e;
    --yellow: #ff7518;
    --green: #357a32;
    --teal: #20c997;
    --cyan: #008196;
    --white: #ffffff;
    --gray: #6a737b;
    --gray-dark: #343a40;
    --primary: #4B345D;
    --secondary: #ced4da;
    --success: #357a32;
    --info: #008196;
    --warning: #f0ad4e;
    --danger: #ca3120;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --activityadministration: #5d63f6;
    --activityassessment: #eb66a2;
    --activitycollaboration: #f7634d;
    --activitycommunication: #11a676;
    --activitycontent: #399be2;
    --activityinterface: #a378ff;
    font-weight: 400;
    line-height: 1.5;
    color: #1d2125;
    text-align: left;
    font-size: calc(0.90375rem + 0.045vw);
    -webkit-font-smoothing: antialiased;
    font-family: "Open Sans",sans-serif;
    box-sizing: border-box;
    margin-bottom: 1rem;
}


button {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    
    margin-right: 10px;
  }
  
  button:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  
  button:active {
    transform: translateY(-1px);
  }
